# Sistema operativo
.DS_Store
Thumbs.db

# Entorno de desarrollo
.vscode/
.idea/
*.code-workspace

# Dependencias
node_modules/
vendor/

# Archivos generados por el compilador
dist/
build/
out/

# Archivos de configuración personal
*.env
*.local

# Archivos de log
*.log

# Otros
*.tmp
*.swp
